/* applying global font and text colour */
* {
    color: white;
    font-family: Avenir;
}
/* setting the body up as a grid */
body {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
    background-color: #8B0000 !important;
}
header {
    grid-area: header;
    border: 2px dotted rgb(30, 255, 0);
}
/* making header a flexbox to use the space-between formatting */
.flex-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 15px;
}
.flex-header img {
    height: 50px;
    padding: 0 20px;
}
/* again using flexbox to make spacing nice in the navigation portion of the header */
.headernav {
    display: flex;
    justify-content: space-evenly;
}
.headernav a {
    color: white;
    margin-right: 10px;
}
.headernav a:hover {
        color: #74FFFF;
}
/* making the images in the aside take up their whole container and be somewhat visually appealing */
aside img {
    object-fit: cover;
    width: 300px;
    height: 236px;
}
/* formatting for the sidebar section */
.side {
    grid-area: sidebar;
    border: 2px solid #2207f2;
    margin-right: 10px;
}
.side h2 {
    text-align: center;
    padding-top: 20px;
}
.side nav {
    text-align: center;
}
.side a {
    color: white;
}
.side a:hover {
    color: #74FFFF;
}
.side ul {
    padding: 10px;
    list-style-type: none;
}
.side p {
    color: black;
    padding-top: 15px;
}
.card {
    margin-right: 10px;
    margin-left: 10px;
}
/* some formatting for each individual card */
#Ten4 {
    margin-bottom: 10px;
}
#Ten4-Body {
    height: 50px;
}
#Ten5 {
    margin-bottom: 10px;
}
#Ten5-Body {
    height: 50px;
}
#Ten6 {
    margin-bottom: 10px;
}
#Ten6-Body {
    height: 50px;
}
/* formatting for the main content area (carousel and biography) */
.content-container {
    width: 100%;
    border: 2px solid #f70459;
    grid-area: main;
}
.content-container p {
    padding: 15px;
    font-size: 22px;
}
#biography h2 {
    text-align: center;
}
#carouselhead {
    text-align: center;
}
.carouselcontainer {
    margin-right: 10px;
    width: 100%;
}
.carousel-inner img {
    object-fit: cover;
    height: 600px;
}
footer {
    grid-area: footer;
    border: 2px solid #f906b8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer p {
    padding-top: 20px;
}
/* making the site more suited for both phones and tablets using media queries */
@media screen and (max-width: 1300px) {
    body {
        grid-template-areas:
        "header header"
        "sidebar"
        "main main" 
        "footer footer";
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 850px) {
    body {
        grid-template-areas:
        "header"
        "sidebar"
        "main" 
        "footer";
        grid-template-columns: 1fr;
    }
}